/**
 * assets/css/app.css
 */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #2c3e50;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > main {
  margin: 0 auto;
  max-width: 720px;
  max-width: 72rem;
  overflow: hidden;
  padding: 20px;
  padding: 2rem;
  word-wrap: break-word;
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}

article {
  border-bottom: 1px solid rgba(44, 62, 80, .25);
  border-bottom: .1rem solid rgba(44, 62, 80, .25);
}

section h1,
article h1 {
  font-size: 2em;
}

footer[role="contentinfo"] {
  border-top: 1px solid rgba(44, 62, 80, .25);
  border-top: .1rem solid rgba(44, 62, 80, .25);
  margin-top: -1px;
  margin-top: -.1rem;
  text-align: center;
}

nav[role="navigation"],
footer[role="contentinfo"] {
  -webkit-box-ordinal-group: 100;
  -webkit-order: 99;
      -ms-flex-order: 99;
          order: 99;
}

@media(min-width: 40rem) {

  nav[role="navigation"],
  footer[role="contentinfo"] {
    -webkit-box-ordinal-group: initial;
    -webkit-order: initial;
        -ms-flex-order: initial;
            order: initial;
  }

  nav[role="navigation"] ul {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
            flex-flow: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }

  nav[role="navigation"] ul a {
    padding: .5rem 1rem;
  }

  section[role="main"] > article:last-of-type {
    border-bottom: none;
  }
}

.post-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 10px auto;
  margin: 1rem auto;
}

.post-navigation a {
  display: block;
  padding: 1px;
  padding: .1rem;
}

.post-navigation .next {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

/**
 * contact form
 */

label,
input[type="text"],
input[type="email"],
textarea,
.form-error {
  display: block;
  margin: 5px auto;
  margin: .5rem auto;
  width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  padding: 1rem;
}

textarea {
  min-height: 200px;
  min-height: 20rem;
}

.form-error {
  font-size: .9em;
}

.form-message {
  font-size: 1.2em;
}

.success {
  color: green;
}

.error {
  color: red;
}

/*# sourceMappingURL=app.css.map */